body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color:#F5D04E;
  display: flex;
  justify-content: center;
}
.container{
  border-radius: 10px;
  filter:drop-shadow(12px 15px 0px black);
  border: 2px black solid;
  background-color: white;
  padding: 10px;
  margin-top: 40px;
  width: 325px;
  height: 500px;

  display: flex;
  flex-wrap: wrap;
  gap:10px
}
.ww{
  width: 100%;
}
.images{
  width: 100%;
  border-radius: 10%;
}
.head{
  padding: 7px;
  border-radius: 7px;
  background-color: #F5D04E;
  color:black;
  font-weight: bold;
}
.text{
  font-weight:500;
}
.gigant{
  font-weight: bold;
  font-size: 22px;
}
.flex{
  display: flex;
  align-items: center;
  gap: 10px;

}
.avatar{
  width: 27px;
}
.text2{
  font-weight: bold;
}